.section__width {
    display: flex;
    width: 80%;
}
.card {
    flex-direction: column;
    margin: 3rem auto;
}

.contenedor{
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.5rem;
}

.card__item {
    background-color: antiquewhite;
    text-align: center;
    overflow: hidden;
    display:flex;
    transition: transform 500ms ease;
    align-items: flex-end;

    background-position: center center;
    background-size: cover;
    
}

.card__item:hover .content{
    transform: translateY(0);
    transition-delay: 500ms;
}
.item1{
    background-image: url(../img/mike.jpg);  
}
.item2{
    background-image: url(../img/nubia.jpg);  
}
.item3{
    background-image: url(../img/pixabay.jpg);  
}
.item4{
    background-image: url(../img/vale-miller.jpg);  
}

.content{
    background-color: rgba(72, 78, 76, 0.77);
    transform: translateY(65%);
    transition: transform 500ms ease;
    font-size:0.9rem;
    width: 100%;
    height: 11rem;
    color: beige;
}

.content h2 {
    text-transform: uppercase;
    font-weight: bolder;
    color: #eac91b;
  }

  .content p {
    text-align: justify;
    padding: 0 1rem;
    color: #c3ea0ac2;
  }

.btn {
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #eac91b;
    color: #021703;
  

}
